<%= form_for(urlencurtada) do |f| %>
  <% if urlencurtada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(urlencurtada.errors.count, "error") %> prohibited this urlencurtada from being saved:</h2>

      <ul>
      <% urlencurtada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :urlencurtada %>
    <%= f.text_field :urlencurtada %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
