<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @urlencurtada.url %>
</p>

<p>
  <strong>Urlencurtada:</strong>
  <%= @urlencurtada.urlencurtada %>
</p>

<%= link_to 'Edit', edit_urlencurtada_path(@urlencurtada) %> |
<%= link_to 'Back', urlencurtadas_path %>
